{% extends "base.html" %}

{% block content%}
<h4>Edit post</h4>
<form method="post">
    <label for="subject"> subject <br>
    <input style="font-weight:200" type="text" name="subject" value="{{ subject }}">
    </label>
    <br>
    <label for="content"> content <br>
    <textarea style="font-weight:200" name="content" rows="8" cols="40">{{ content }}</textarea>
    </label>
    <br>
    {% if error %}
    <div class="alert alert-warning">
      <strong>Warning!</strong> {{error}}
    </div>
    {% endif %}
    <button class="btn btn-default" type="submit" name="action" value="edit_blog">submit</button>


</form>
{% endblock %}
