{% extends "base.html" %}

{% block content %}
    {{ post.render() | safe }}
    {% if user.name == post.user.name %}
        <a href="editpost/{{ post.key().id() }}"> Edit </a>
        <a href="deletepost/{{ post.key().id() }}"> Delete </a>
    {% else %}
        {% if user.name %}
            {% if not likes %}
            <a href="like/{{ post.key().id() }}"> Like </a>
            {% else %}
            <a href="like/{{ post.key().id() }}"> Unlike </a>
            {% endif %}
        {% endif %}
    {% endif %}
    <p href=""> {{ post.post_likes.count() }} likes </p>
    <div class="comments">
        {% if user.name %}
        <form action="/newcomment/{{ post.key().id() }}" class="" method="post">
            <textarea name="comment" rows="8" cols="40"></textarea>
            <input type="submit" name="action" value="post comment">
        </form>
        {% endif %}
    </div>
    {% for p in post.post_comments %}
        <div class="">

            {% if c_id == p.key().id() %}
            <form action="/editcomment/{{p.key().id()}}" method="post">
                <textarea name="comment" rows="8" cols="40">{{ p.comment }}</textarea>
                <a href="/{{ p.post.key().id() }}">Cancel</a>
                <button type="submit" name="button">submit</button>
            </form>
            {% else %}
            <p>
                {{ p.comment }}
            </p>
            {% endif %}
            {% if p.user.name == user.name %}
                <a href="?c_id={{ p.key().id() }}"> edit </a>
            {% endif %}
            <p>
                - {{ p.user.name }}
            </p>

        </div><br>
    {% endfor %}

{% endblock %}
