{% extends "base.html" %}

{% block content%}
<form class="" method="post">
    <table>

        <tr>
            <td style="padding-right:8px;">
                Username
            </td>
            <td>
                <input type="text" name="username" value="{{username}}">
            </td>
            <td class="error">
                {{error_username}}
            </td>
        </tr>

        <tr>
            <td style="padding-right:8px;">
                Password
            </td>
            <td>
                <input type="password" name="password" value="">
            </td>
            <td class="error">
                {{error_password}}
            </td>
        </tr>

        <tr>
            <td style="padding-right:8px;">
                Match Password
            </td>
            <td>
                <input type="password" name="verify" value="">
            </td>
            <td class="error">
                {{error_m_password}}
            </td>
        </tr>

        <tr>
            <td style="padding-right:8px;">
                Email
            </td>
            <td>
                <input type="text" name="email" value="{{email}}">
            </td>
            <td class="error">
                {{error_email}}
            </td>
        </tr>
    </table>
    <input class="btn btn-default" type="submit" name="name" value="Register">
</form>
{% endblock %}
